<script src="../../Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        var s = $('#hdnS').val();
        $("input[name*='ChkSetDB']").attr("checked", s === "Session" ? (false) : (true));
    });

    function das() {
        $("input[id*='hdnS']").val($("input[id*='hdnS']").val() === "Session" ? "DataBase" : "Session");
        $.post("Home/Index", {
            dB: $("#hdnS").val(),
            function(data) {}
        });
    }
    
</script>
<title></title>
<div class="jumbotron">
    <div class="lead row">
        <label class="switch">
            <input name="ChkSetDB" onchange="das()" type="checkbox">
            <span class="slider"></span>
        </label>
        <span style="position:absolute; top: 82px" class="alert alert-light justify-content-center">On-line DataBase (Off/On)</span>
        <img class="container body-content" src="~/Content/ESC.png" alt="SanaApp" />
    </div>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<div class="row">
    <input type="hidden" id="hdnS" value="@Session["DataBase"]" />
</div>


